extends layout

block content
  h1 RESTful API입니다.
  h2 Time Microservice
  p.red Example Usage
  code localhost:3000/dateValues/August 14, 2016
  br
  code localhost:3000/dateValues/1379103948
  p.red Expected Output is json
  code { "unix": 1379103948, "natural": August 14, 2016 }
